<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjMxQ9621RZrtXyac1WjB4MrxuuVm7hVw</string>
	<key>GCM_SENDER_ID</key>
	<string>134575658572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fooddie</string>
	<key>PROJECT_ID</key>
	<string>fooddeliveryapp-f146c</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddeliveryapp-f146c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134575658572:ios:748381dbb5b6f29605c6e9</string>
</dict>
</plist>